@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.slider-list-item {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.version-representation{
    color: #ff6d00;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    bottom: 0;
    left: 82px;
    position: absolute;
}