
.input-group-addon{
    width: 50px;
}
select.list1 option.option2
{
    background-color: #007700;
}
.color-item{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.second-level{
    margin-top: 10px;
}

.input-group-custom{
    display: inline-table;
    vertical-align: middle;
}
.input-group-addon{
    width: 50px;
}

#formWrapper{
    display: inline-flex;
    
}

.list-group{
    max-height: 203px;
    overflow-y: auto;
    overflow-x: hidden;
}
#formEdit{
    border-left: 1px solid #DDDDDD;
    width:600px;
    
}
.list-group-item.item-period{
    display: -webkit-inline-box;
}
.edit-period-opt{
    right: 9px;
    position: absolute;
}
.edit-period-opt > a{
    margin: 1px;
    color:#ff6d00!important;

}

.btn-save-period{
    background-color:#ff6d00; 
    border-color: #DDDDDD;   
    color:#FFFFFF !important;
}

.period-control-btn{
    cursor: pointer;
}
.list-group-period{
    max-height: 120px;
}
.period-item-list-representation-wrapper{  
    display: grid
}
.name-period-item-list{
    max-width: 200px;   
}

.color-period-item{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.modal-dialog{
    max-width: 1000px;
}

.btn-footer-modal{
    cursor:pointer;
}
