 <div class="modal fade" id="exampleModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Periodo</h5>
        
      </div>
      
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group-date-from col-sm-6">
              <input class="form-control col-sm-2" data-toggle="datepicker" placeholder="data inicial" [(ngModel)]="period.dateFromSt" [ngModelOptions]="{standalone: true}"y>
              <button class="input-group-addon col-sm-1" (click)="d.toggle(); " type="button">
                <img src="../../assets/icon-calendar.svg" style="width: 2.4rem; height: 2rem; cursor: pointer;"/>
              </button>
            </div>
            <div class="input-group-date-from col-sm-6">
              <input class="form-control col-sm-2" data-toggle="datepicker" placeholder="data final" [(ngModel)]="period.dateToSt" [ngModelOptions]="{standalone: true}" name="rangeDateEnd" id="rangeDateEnd">
              <button class="input-group-addon col-sm-1" >
                <img src="../../assets/icon-calendar.svg" style="width: 2.4rem; height: 2rem; cursor: pointer;"/>
              </button>
            </div>
            <div class="col-sm-6 second-level">
              <label for="periodLevel">Nivel do Periodo</label>
              
              <select class="form-control" id="periodLevel" ([ngModel])="period.level">
                <option value="1">Uma semana</option>
                <option value="2">Varias semana</option>
                <option value="3">Um ano</option>
                <option value="4">Vários anos</option>
              </select>
          </div>
          <div class="col-sm-6 second-level">
              <div>
                <div class="colors-wrapper">
                  <div class="color-picker">
                    <div class="color-item custom-control custom-radio" *ngFor="let color of colors">
                      <input type="radio" class="custom-control-input">
                      <div class="custom-control-description color-item" [ngStyle]="{'background-color':color}"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="savePeriod()">Salvar Periodo</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>