
.input-group-addon{
    width: 50px;
}
select.list1 option.option2
{
    background-color: #007700;
}
.color-item{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.second-level{
    margin-top: 10px;
}

.input-group-custom{
    display: inline-table;
    vertical-align: middle;
}
.input-group-addon{
    width: 50px;
}
.modal-dialog{
    width:1000px;
}
#formWrapper{
    display: inline-flex;
    
}
#periodLevelEditFilter{
    width: 265px;
    margin-bottom: 10px;
}
#periodListWrapper{
    width: 300px;
    max-height: 203px;
    overflow-y: auto;
    overflow-x: hidden;
    
    padding: 10px; 
}
.list-group{
    width: 265px;
}
#formEdit{
    border-left: 1px solid #DDDDDD;
    width:600px;
    
}
.list-group-item{
    display: inline-flex;
    width: 100%;
}
.edit-period-opt{
    right: 9px;
    position: absolute;
}
.edit-period-opt > a{
    margin: 1px;
    color:#ff6d00;

}

.btn-save-period{
    background-color:#ff6d00; 
    border-color: #DDDDDD;   
}

