<div class="modal-body">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <div class="input-group">
          <select class="form-control" id="periodLevelEditFilter" #levelInputFilter>
            <option value="1">One Week</option>
            <option value="2">Several Weeks</option>
            <option value="3">One Year</option>
            <option value="4" selected="selected">Several Years</option>
          </select>
        </div>
        <ul class="list-group">
          <li class="list-group-item item-period" id="period_{{period.$key}}" *ngFor="let period of periodsList">
            <div class="color-period-item" [ngStyle]="{'background-color':period.color}"></div>


            <div class="period-item-list-representation-wrapper">
              <span class="name-period-item-list">
                {{period.name}}
              </span>
              <span class="date-period-item-list">
                {{formatDate(period.dateFrom)}} to {{formatDate(period.dateTo)}}
              </span>
            </div>

            <div class="edit-period-opt">
              <a class="period-control-btn" (click)="editPeriod(period.$key)">
                <i class="fa fa-pencil"></i>
              </a>
              <a class="period-control-btn" (click)="deletePeriod(period.$key)">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="dateFromInput">Date from:</label>p
          <input  class="form-control" data-toggle="datepicker" placeholder="dd/mm/yyyy" id="dateFromInput" #dateFromInput>
        </div>

        <div class="form-group col-sm-4">
          <label for="dateToInput">Date to:</label>
          <input class="form-control" data-toggle="datepicker" placeholder="dd/mm/yyyy" #dateToInput name="dateToInput" id="dateToInput">
        </div>
        <div class="form-group">
          <label for="periodLevel col-sm-4">Period time level:</label>

          <select class="form-control" id="periodLevel" disabled="disabled" #levelInput>
            <option value="1">One Week</option>
            <option value="2">Several Weeks</option>
            <option value="3">One Year</option>
            <option value="4" selected="selected">Several Years</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-2">
          <label for="periodColorIput">Period color:</label>
          <select class="form-control" [ngStyle]="{'background-color':colorInput.value}" id="periodColorIput" #colorInput>
            <option class="color-item" style="background-color:#e91e63" value="#e91e63"></option>
            <option class="color-item" style="background-color:#9c27b0" value="#9c27b0"></option>
            <option class="color-item" style="background-color:#7e57c2" value="#7e57c2"></option>
            <option class="color-item" style="background-color:#3f51b5" value="#3f51b5"></option>
            <option class="color-item" style="background-color:#2196f3" value="#2196f3"></option>
            <option class="color-item" style="background-color:#009688" value="#009688"></option>
          </select>
        </div>

        <div class="form-group col-sm-9">
          <label for="periodLevel">Period Name:</label>
          <input class="form-control" id="periodLevel" placeholder="Period Name" #namePeriod>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <input type="hidden" name="idPeriodEdited" id="idPeriodEdited" #idPeriodEdited>
  <button type="button" class="btn btn-footer-modal btn-secondary btn-cancel-period" (click)="cancelForm()">Cancel</button>
  <button type="button" class="btn btn-footer-modal btn-save-period" (click)="savePeriod()">Save Period</button>
</div>