<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script> -->

<div *ngIf="userVerified">
    <div *ngIf="userVerified" class="content-wrapper">
        <app-header-navbar (updatePeriodFilterEmitter)="updatePeriodFilter($event)" (logoutEmmiter)="logout()" (tabSelector)="selectTab($event)"></app-header-navbar>

        <app-weekly-list  *ngIf="tabSelected?.id == 1" [firebaseUser]="userAuthObj" [userDatabase]="userDatabase" #AppWeeklyList> </app-weekly-list>
    </div>
</div>
<app-login *ngIf="!userVerified"></app-login>   
<app-warning-message #WarningMessageComponent></app-warning-message>
<app-progress-icon *ngIf="progressIconShown"></app-progress-icon>
