/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif!important;
    font-size:13px;
}


.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    background-color: #ff6d00!important;
    color: #FFFFFF;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 1px solid #FFF;
    background: #FFF;
    font-weight: normal;
    color: #ff6d00!important;
    font-size: 0.9rem;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background-color: #ff6d00!important;
    color: #FFF!important;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #cccccc; 
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background: #DDDDDD; 
    -webkit-box-shadow: inset 0 0 6px #cccccc; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #DDDDDD; 
}