.week-list-wrapper{
    margin: 40px;
    /* border:1px solid #bdbdbd; */
    display: table;
    overflow-x: scroll;
    
}

.year-index{
    padding: 10px;
    background-color: #ff6d00;
    color:#fff;
    border-radius: 100%;
}

.week-list-row{
    display: table-row;
}
.week-list-item{
    display: table-cell;
    width: 40px;
    height: 40px;
    border: 1px solid #bdbdbd;
}
.currentWeek{
     width: 32px;
     height: 32px;
     border: 4px solid gray;
    /* background-color: #ff6d00; */
    /* color:#fff; */
}
.btn-add{
    width: 70px;
    height: 70px;
    border-radius: 100%;
     text-align: center; 
    font-size: 50px;
     /* padding: 11px;  */
     box-shadow: 2px 2px 10px #222;
     position: fixed;
     right:20px;
     bottom:20px;
     color:white;
     background-color: #2979FF;
}
.btn-add:link{
 text-decoration: none;
}
.great-divider{
    margin-bottom: 60px;
}
.input-group-addon{
    width: 50px;
}
select.list1 option.option2
{
    background-color: #007700;
}
.color-item-1{
    background-color: #e91e63;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.color-item-2{
    background-color: #9c27b0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.color-item-3{
    background-color: #7e57c2;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.color-item-4{
    background-color: #3f51b5;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.color-item-5{
    background-color: #2196f3;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.color-item-6{
    background-color: #009688;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}
.color-item{
    display: inline-block;
}
.second-level{
    margin-top: 10px;
}