<div class="week-list-wrapper" *ngIf="weekBuilt">
  <div class="week-list-row" *ngFor="let year of years">
    <div class="year-index" [ngClass]="{currentYear:year.isTheCurrentYear}"> {{year.index}}</div>

    <div class="week-list-item" [ngClass]="{currentWeek:week.isCurrentWeek,weekBeforeCurrent:week.isBeforeCurrent,weekWithPeriod:week.periods?.length}"  *ngFor="let week of year.weeks; let i = index"
      data-placement="right" [ngStyle]="{'background-color': week.periods[0]?.color}" data-toggle="tooltip" data-html="true" data-trigger="hover" [ngbTooltip]="weekTooltip" ngbTooltip="Tooltip on right"
      container="body">


      <ng-template #weekTooltip>
        <div class="week-tooltip">
          <div class="week-tooltip-title" [ngClass]="{weekWithPeriodTooltip:week.periods?.length}">Week: {{week.dateFromSt}} to {{week.dateToSt}}</div>
          <ul class="week-tooltip-list">
            <li *ngFor="let period of week.periods" class="week-tooltip-list-item">
              {{period.dateFromSt}} to {{period.dateToSt}} - {{period.name}}
            </li>
          </ul>
        </div>
      </ng-template>

      <!-- <div class="period" *ngFor="let color of week.colors" > </div> -->
      {{week.index}}
    </div>
  </div>
</div>

<app-period-edit></app-period-edit>

<hr class="great-divider">
<a href="#" class=" btn-add" data-toggle="modal" data-target="#periodModal">+</a>
<!--<a href="#" class=" btn-add" data-toggle="modal" data-target="#settingsdModal">+</a>-->