<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="form-group col-sm-7">
        <label for="dateFromInput">Birth date:</label>
        <input class="form-control" id="dateFromInput" data-toggle="datepicker" placeholder="birth date" #dateFromInput>
      </div>
      <div class="form-group col-sm-5">
          <label for="dateFromInput">Years of life estimated:</label>          
        <input class="form-control" type="number" placeholder="final age" maxlength="3" #lastAgeInput name="lastAgeInput" id="lastAgeInput">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="userNameInput">Name:</label>
        <input class="form-control" type="text" placeholder="your name" #userNameInput name="userNameInput" id="userNameInput">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-save-settings" (click)="saveData(dateFromInput.value,lastAgeInput.value,userNameInput.value);">Ok</button>
</div>